body{
    background-color: #A1CAE2;
    font-family: RobotoMono;
    text-align: center;
}
@font-face {
    font-family: RobotoMono;
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}
head{
    text-align: center;
}
.btn1 {
    font-family: RobotoMono;
    height: 50px;
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: rgb(0, 68, 196);
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.btn1:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.btn2 {
    font-family: RobotoMono;
    height: 50px;
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: rgb(179, 0, 0);
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.btn2:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
.start {
    font-family: RobotoMono;
    height: 50px;
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: #CFC5A5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.start:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.about{
    
}
.about:active{

}

.top-nav{
    font-family: RobotoMono;
    
    font-size: 32px;
    margin: 10%;
    padding: 1%;
    outline:none;
    text-decoration: none;
    color:black;
    align-items: center;
    cursor: pointer; 
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    
}

.top-nav:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.top-nav:hover{
    background-color: #C2B092;
    color: #fff;
}

/*
<!-- HTML !-->
<button class="button-81" role="button">Button 81</button>

/* CSS 
.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-81:hover {
    background-color: #1e293b;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .button-81 {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }
*/